<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appName</key>
	<string>XCBlog</string>
	<key>itunesName</key>
	<string>xcblog</string>
	<key>itunesID</key>
	<string>TBC</string>
	<key>baseURL</key>
	<string>http://shashikantjagtap.net</string>
	<key>baseREST</key>
	<string>wp-json/swiftypress/v2</string>
	<key>wpREST</key>
	<string>wp-json/wp/v2</string>
	<key>email</key>
	<string>shashikant.jagtap@icloud.com</string>
	<key>darkMode</key>
	<false/>
	<key>defaultTagFilter</key>
	<true/>
	<key>tintColor</key>
	<string>49,169,234</string>
	<key>titleColor</key>
	<string>51,51,51</string>
	<key>secondaryTintColor</key>
	<string>49,169,234</string>
	<key>collectionCellCornerRadius</key>
	<integer>1</integer>
	<key>collectionCellShadowRadius</key>
	<integer>1</integer>
	<key>tabTitleColor</key>
	<string></string>
	<key>headerImage</key>
	<string></string>
	<key>styleSheet</key>
	<string>http://shashikantjagtap.net/wp-content/themes/worldstar/style.css</string>
	<key>googleAnalyticsID</key>
	<string>UA-38592908-1</string>
	<key>featuredCategoryID</key>
	<integer>64</integer>
	<key>social</key>
	<array>
		<dict>
			<key>title</key>
			<string>Facebook</string>
			<key>link</key>
			<string>https://www.facebook.com/shashikantjagtaplondon/</string>
			<key>app</key>
			<string></string>
			<key>icon</key>
			<string>facebook</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Twitter</string>
			<key>link</key>
			<string>https://twitter.com/Shashikant86</string>
			<key>app</key>
			<string>twitter://user?screen_name=Shashikant86</string>
			<key>icon</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>title</key>
			<string>GooglePlus</string>
			<key>link</key>
			<string>http://google.com/+ShashikantJagtap</string>
			<key>app</key>
			<string>gplus://plus.google.com/app/basic/+ShashikantJagtap/posts</string>
			<key>icon</key>
			<string>googleplus</string>
		</dict>
		<dict>
			<key>title</key>
			<string>YouTube</string>
			<key>link</key>
			<string>https://www.youtube.com/user/behatphp</string>
			<key>app</key>
			<string></string>
			<key>icon</key>
			<string>youtube</string>
		</dict>
		<dict>
			<key>title</key>
			<string>GitHub</string>
			<key>link</key>
			<string>https://github.com/Shashikant86</string>
			<key>app</key>
			<string></string>
			<key>icon</key>
			<string>github</string>
		</dict>
	</array>
	<key>tutorial</key>
	<array>
		<dict>
			<key>title</key>
			<string>Welcome to XCBlog</string>
			<key>desc</key>
			<string>Thank you for downloading my mobile app by Shashikant Jagtap about iOS Continuous Delivery and DevOps</string>
			<key>image</key>
			<string>welcome</string>
			<key>bgImage</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>Blog Posts</string>
			<key>desc</key>
			<string>View my blog posts in an easy to read format. Share directly from within the app. View related posts. Read posts even when you’re offline!</string>
			<key>image</key>
			<string>posts</string>
			<key>bgImage</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>Search</string>
			<key>desc</key>
			<string>Use the search to narrow down your results. Scope them using various filters, such as title, content, and keywords. View your search history to recall previous searches.</string>
			<key>image</key>
			<string>search</string>
			<key>bgImage</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>Favorites</string>
			<key>desc</key>
			<string>Never forget a blog post again! Mark your favorite posts for easy referencing later. Check out popular posts that the community has found helpful or interesting.</string>
			<key>image</key>
			<string>favorite</string>
			<key>bgImage</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>About Me </string>
			<key>desc</key>
			<string>More about Me</string>
			<key>image</key>
			<string>about</string>
			<key>bgImage</key>
			<string></string>
		</dict>
	</array>
	<key>moreMenu</key>
	<array>
		<dict>
			<key>title</key>
			<string>About Me</string>
			<key>link</key>
			<string>http://shashikantjagtap.net/about-me/?mobileembed=1</string>
			<key>icon</key>
			<string>home</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Subscribe to RSS Feed</string>
			<key>link</key>
			<string>http://shashikantjagtap.net/feed</string>
			<key>icon</key>
			<string>signup</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Send me feedback</string>
			<key>link</key>
			<string>{{feedback}}</string>
			<key>icon</key>
			<string>feedback</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Rate our app</string>
			<key>link</key>
			<string>{{rate}}</string>
			<key>icon</key>
			<string>star</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Tell a friend</string>
			<key>link</key>
			<string>{{share}}</string>
			<key>icon</key>
			<string>megaphone</string>
		</dict>
		<dict>
			<key>title</key>
			<string>iOS Settings</string>
			<key>link</key>
			<string>{{settings}}</string>
			<key>icon</key>
			<string>phone</string>
		</dict>
	</array>
	<key>otherMenu</key>
	<array>
		<dict>
			<key>title</key>
			<string>Designed by Shashikant Jagtap</string>
			<key>link</key>
			<string>http://shashikantjagtap.net/</string>
			<key>icon</key>
			<string>design</string>
		</dict>
	</array>
</dict>
</plist>
